<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Dashboard</title>
  <script type="text/javascript" src="/jquery-3.4.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
  <link rel="stylesheet" href="/bootstrap.css">
  <link rel="stylesheet" href="/profile_style.css">
  <script type="text/javascript">
    function checkornot() {
      document.getElementById("cmn-toggle-1").addEventListener("click", function() {
        document.getElementById("check_form").submit();
      });
    }
    window.onload = checkornot;
  </script>
</head>

<body>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><strong>RSMS</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav navbar-right">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/timetable">Time Table</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/summary">Class Summary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/instructions">Instructions</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/logout">Logout</a>
        </li>

      </ul>
    </div>
  </nav>
  <div class="user_details">
    <h5 class="user_text"> Name : <%= stud_name %></h5>
    <div class="class_r">
      <h5 class="user_text">Class : <%= class_name %></h5>
    </div>
  </div>
  <hr>
  <div class="user_details">
    <h5 class="user_text"> Date : <%= date %></h5>
    <div class="but_position">
      <div class="switch">
        <form action="/workday" method="post" id="check_form">
          <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round " name="yesorno" type="checkbox" <%= check_ed %>>
          <label for="cmn-toggle-1"></label>
        </form>
      </div>
    </div>
    <div class="class_r">
      <h5 class="user_text">Day : <%= day %></h5>
    </div>
  </div>
  <hr>
  <div class="container" style="display:<%=hidstr%>">
    <p>Was todays's Time Table followed correctly?</p>
    <table id="t1" style"width:100%" align=center>
      <tr>
        <% for(var i=0;i<=6;i++){ %>
        <td><%=table_arr[arr[i]]%></td>
        <% } %>

      </tr>
    </table>
    <div class="yesorno">
      <form action="/ttable_alter" method="post">
        <input type="submit" class="btn-success" name="yesno" value="Yes">
        <input type="submit" class="btn-danger" name="yesno" value="No">
      </form>
    </div>
    <p><%=response %></p>


    </div>
  </div>
  <div class="container" style="display:<%= hidyesorno%>">
    <p><strong>Make Changes here</strong></p>
    <form action="/edittable" method="post">
      <table id="t5" style="width:100%" align=center>
        <tr>
          <td>
            <select name="a_1">
                <%  if(table_arr[arr[0]]=="CS301"){ %>
                    <option selected="selected" value="CS301">CS301</option>
                    <%}else{%>
                    <option value="CS301">CS301</option>
                <%}%>
                <%  if(table_arr[arr[0]]=="CS303"){ %>
                    <option selected="selected" value="CS303">CS303</option>
                    <%}else{%>
                    <option value="CS303">CS303</option>
                <%}%>
                <%  if(table_arr[arr[0]]=="CS305"){ %>
                    <option selected="selected" value="CS305">CS305</option>
                    <%}else{%>
                    <option value="CS305">CS305</option>
                <%}%>
                <%  if(table_arr[arr[0]]=="CS307"){ %>
                    <option selected="selected" value="CS307">CS307</option>
                    <%}else{%>
                    <option value="CS307">CS307</option>
                <%}%>
                <%  if(table_arr[arr[0]]=="CS309"){ %>
                    <option selected="selected" value="CS309">CS309</option>
                    <%}else{%>
                    <option value="CS309">CS309</option>
                <%}%>
                <%  if(table_arr[arr[0]]=="Elective"){ %>
                    <option selected="selected" value="Elective">Elective</option>
                    <%}else{%>
                    <option value="Elective">Elective</option>
                <%}%>
                    <%  if(table_arr[arr[0]]=="CS341"){ %>
                    <option selected="selected" value="CS341">CS341</option>
                    <%}else{%>
                    <option value="CS341">CS341</option>
                <%}%>
                <%  if(table_arr[arr[0]]=="B1CS331/B2CS333"){ %>
                    <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
                    <%}else{%>
                    <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
                <%}%>
                <%  if(table_arr[arr[0]]=="B2CS331/B1CS333"){ %>
                    <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
                    <%}else{%>
                    <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
                <%}%>
                <%  if(table_arr[arr[0]]=="Free"){ %>
                    <option selected="selected" value="Free">Free</option>
                    <%}else{%>
                    <option value="Free">Free</option>
                <%}%>
            </select>
          </td>
          <td>
            <select name="a_2">
                <%  if(table_arr[arr[1]]=="CS301"){ %>
                  <option selected="selected" value="CS301">CS301</option>
                  <%}else{%>
                  <option value="CS301">CS301</option>
              <%}%>
              <%  if(table_arr[arr[1]]=="CS303"){ %>
                  <option selected="selected" value="CS303">CS303</option>
                  <%}else{%>
                  <option value="CS303">CS303</option>
              <%}%>
              <%  if(table_arr[arr[1]]=="CS305"){ %>
                  <option selected="selected" value="CS305">CS305</option>
                  <%}else{%>
                  <option value="CS305">CS305</option>
              <%}%>
              <%  if(table_arr[arr[1]]=="CS307"){ %>
                  <option selected="selected" value="CS307">CS307</option>
                  <%}else{%>
                  <option value="CS307">CS307</option>
              <%}%>
              <%  if(table_arr[arr[1]]=="CS309"){ %>
                  <option selected="selected" value="CS309">CS309</option>
                  <%}else{%>
                  <option value="CS309">CS309</option>
              <%}%>
              <%  if(table_arr[arr[1]]=="Elective"){ %>
                  <option selected="selected" value="Elective">Elective</option>
                  <%}else{%>
                  <option value="Elective">Elective</option>
              <%}%>
                  <%  if(table_arr[arr[1]]=="CS341"){ %>
                  <option selected="selected" value="CS341">CS341</option>
                  <%}else{%>
                  <option value="CS341">CS341</option>
              <%}%>
              <%  if(table_arr[arr[1]]=="B1CS331/B2CS333"){ %>
                  <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
                  <%}else{%>
                  <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%}%>
              <%  if(table_arr[arr[1]]=="B2CS331/B1CS333"){ %>
                  <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
                  <%}else{%>
                  <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%}%>
              <%  if(table_arr[arr[1]]=="Free"){ %>
                  <option selected="selected" value="Free">Free</option>
                  <%}else{%>
                  <option value="Free">Free</option>
              <%}%>
            </select>
          </td>
          <td>
            <select name="a_3">
                <%  if(table_arr[arr[2]]=="CS301"){ %>
                  <option selected="selected" value="CS301">CS301</option>
                  <%}else{%>
                  <option value="CS301">CS301</option>
              <%}%>
              <%  if(table_arr[arr[2]]=="CS303"){ %>
                  <option selected="selected" value="CS303">CS303</option>
                  <%}else{%>
                  <option value="CS303">CS303</option>
              <%}%>
              <%  if(table_arr[arr[2]]=="CS305"){ %>
                  <option selected="selected" value="CS305">CS305</option>
                  <%}else{%>
                  <option value="CS305">CS305</option>
              <%}%>
              <%  if(table_arr[arr[2]]=="CS307"){ %>
                  <option selected="selected" value="CS307">CS307</option>
                  <%}else{%>
                  <option value="CS307">CS307</option>
              <%}%>
              <%  if(table_arr[arr[2]]=="CS309"){ %>
                  <option selected="selected" value="CS309">CS309</option>
                  <%}else{%>
                  <option value="CS309">CS309</option>
              <%}%>
              <%  if(table_arr[arr[2]]=="Elective"){ %>
                  <option selected="selected" value="Elective">Elective</option>
                  <%}else{%>
                  <option value="Elective">Elective</option>
              <%}%>
                  <%  if(table_arr[arr[2]]=="CS341"){ %>
                  <option selected="selected" value="CS341">CS341</option>
                  <%}else{%>
                  <option value="CS341">CS341</option>
              <%}%>
              <%  if(table_arr[arr[2]]=="B1CS331/B2CS333"){ %>
                  <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
                  <%}else{%>
                  <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%}%>
              <%  if(table_arr[arr[2]]=="B2CS331/B1CS333"){ %>
                  <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
                  <%}else{%>
                  <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%}%>
              <%  if(table_arr[arr[2]]=="Free"){ %>
                  <option selected="selected" value="Free">Free</option>
                  <%}else{%>
                  <option value="Free">Free</option>
              <%}%>
            </select>
          </td>
          <td>
            <select name="a_4">
                <%  if(table_arr[arr[3]]=="CS301"){ %>
                  <option selected="selected" value="CS301">CS301</option>
                  <%}else{%>
                  <option value="CS301">CS301</option>
              <%}%>
              <%  if(table_arr[arr[3]]=="CS303"){ %>
                  <option selected="selected" value="CS303">CS303</option>
                  <%}else{%>
                  <option value="CS303">CS303</option>
              <%}%>
              <%  if(table_arr[arr[3]]=="CS305"){ %>
                  <option selected="selected" value="CS305">CS305</option>
                  <%}else{%>
                  <option value="CS305">CS305</option>
              <%}%>
              <%  if(table_arr[arr[3]]=="CS307"){ %>
                  <option selected="selected" value="CS307">CS307</option>
                  <%}else{%>
                  <option value="CS307">CS307</option>
              <%}%>
              <%  if(table_arr[arr[3]]=="CS309"){ %>
                  <option selected="selected" value="CS309">CS309</option>
                  <%}else{%>
                  <option value="CS309">CS309</option>
              <%}%>
              <%  if(table_arr[arr[3]]=="Elective"){ %>
                  <option selected="selected" value="Elective">Elective</option>
                  <%}else{%>
                  <option value="Elective">Elective</option>
              <%}%>
                  <%  if(table_arr[arr[3]]=="CS341"){ %>
                  <option selected="selected" value="CS341">CS341</option>
                  <%}else{%>
                  <option value="CS341">CS341</option>
              <%}%>
              <%  if(table_arr[arr[3]]=="B1CS331/B2CS333"){ %>
                  <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
                  <%}else{%>
                  <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%}%>
              <%  if(table_arr[arr[3]]=="B2CS331/B1CS333"){ %>
                  <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
                  <%}else{%>
                  <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%}%>
              <%  if(table_arr[arr[3]]=="Free"){ %>
                  <option selected="selected" value="Free">Free</option>
                  <%}else{%>
                  <option value="Free">Free</option>
              <%}%>
            </select>
          </td>
          <td>
            <select name="a_5">
                <%  if(table_arr[arr[4]]=="CS301"){ %>
                  <option selected="selected" value="CS301">CS301</option>
                  <%}else{%>
                  <option value="CS301">CS301</option>
              <%}%>
              <%  if(table_arr[arr[4]]=="CS303"){ %>
                  <option selected="selected" value="CS303">CS303</option>
                  <%}else{%>
                  <option value="CS303">CS303</option>
              <%}%>
              <%  if(table_arr[arr[4]]=="CS305"){ %>
                  <option selected="selected" value="CS305">CS305</option>
                  <%}else{%>
                  <option value="CS305">CS305</option>
              <%}%>
              <%  if(table_arr[arr[4]]=="CS307"){ %>
                  <option selected="selected" value="CS307">CS307</option>
                  <%}else{%>
                  <option value="CS307">CS307</option>
              <%}%>
              <%  if(table_arr[arr[4]]=="CS309"){ %>
                  <option selected="selected" value="CS309">CS309</option>
                  <%}else{%>
                  <option value="CS309">CS309</option>
              <%}%>
              <%  if(table_arr[arr[4]]=="Elective"){ %>
                  <option selected="selected" value="Elective">Elective</option>
                  <%}else{%>
                  <option value="Elective">Elective</option>
              <%}%>
                  <%  if(table_arr[arr[4]]=="CS341"){ %>
                  <option selected="selected" value="CS341">CS341</option>
                  <%}else{%>
                  <option value="CS341">CS341</option>
              <%}%>
              <%  if(table_arr[arr[4]]=="B1CS331/B2CS333"){ %>
                  <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
                  <%}else{%>
                  <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%}%>
              <%  if(table_arr[arr[4]]=="B2CS331/B1CS333"){ %>
                  <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
                  <%}else{%>
                  <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%}%>
              <%  if(table_arr[arr[4]]=="Free"){ %>
                  <option selected="selected" value="Free">Free</option>
                  <%}else{%>
                  <option value="Free">Free</option>
              <%}%>
            </select>
          </td>
          <td>
            <select name="a_6">
                <%  if(table_arr[arr[5]]=="CS301"){ %>
                  <option selected="selected" value="CS301">CS301</option>
                  <%}else{%>
                  <option value="CS301">CS301</option>
              <%}%>
              <%  if(table_arr[arr[5]]=="CS303"){ %>
                  <option selected="selected" value="CS303">CS303</option>
                  <%}else{%>
                  <option value="CS303">CS303</option>
              <%}%>
              <%  if(table_arr[arr[5]]=="CS305"){ %>
                  <option selected="selected" value="CS305">CS305</option>
                  <%}else{%>
                  <option value="CS305">CS305</option>
              <%}%>
              <%  if(table_arr[arr[5]]=="CS307"){ %>
                  <option selected="selected" value="CS307">CS307</option>
                  <%}else{%>
                  <option value="CS307">CS307</option>
              <%}%>
              <%  if(table_arr[arr[5]]=="CS309"){ %>
                  <option selected="selected" value="CS309">CS309</option>
                  <%}else{%>
                  <option value="CS309">CS309</option>
              <%}%>
              <%  if(table_arr[arr[5]]=="Elective"){ %>
                  <option selected="selected" value="Elective">Elective</option>
                  <%}else{%>
                  <option value="Elective">Elective</option>
              <%}%>
                  <%  if(table_arr[arr[5]]=="CS341"){ %>
                  <option selected="selected" value="CS341">CS341</option>
                  <%}else{%>
                  <option value="CS341">CS341</option>
              <%}%>
              <%  if(table_arr[arr[5]]=="B1CS331/B2CS333"){ %>
                  <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
                  <%}else{%>
                  <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%}%>
              <%  if(table_arr[arr[5]]=="B2CS331/B1CS333"){ %>
                  <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
                  <%}else{%>
                  <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%}%>
              <%  if(table_arr[arr[5]]=="Free"){ %>
                  <option selected="selected" value="Free">Free</option>
                  <%}else{%>
                  <option value="Free">Free</option>
              <%}%>
            </select>
          </td>
          <td>
            <select name="a_7">
                <%  if(table_arr[arr[6]]=="CS301"){ %>
                  <option selected="selected" value="CS301">CS301</option>
                  <%}else{%>
                  <option value="CS301">CS301</option>
              <%}%>
              <%  if(table_arr[arr[6]]=="CS303"){ %>
                  <option selected="selected" value="CS303">CS303</option>
                  <%}else{%>
                  <option value="CS303">CS303</option>
              <%}%>
              <%  if(table_arr[arr[6]]=="CS305"){ %>
                  <option selected="selected" value="CS305">CS305</option>
                  <%}else{%>
                  <option value="CS305">CS305</option>
              <%}%>
              <%  if(table_arr[arr[6]]=="CS307"){ %>
                  <option selected="selected" value="CS307">CS307</option>
                  <%}else{%>
                  <option value="CS307">CS307</option>
              <%}%>
              <%  if(table_arr[arr[6]]=="CS309"){ %>
                  <option selected="selected" value="CS309">CS309</option>
                  <%}else{%>
                  <option value="CS309">CS309</option>
              <%}%>
              <%  if(table_arr[arr[6]]=="Elective"){ %>
                  <option selected="selected" value="Elective">Elective</option>
                  <%}else{%>
                  <option value="Elective">Elective</option>
              <%}%>
                  <%  if(table_arr[arr[6]]=="CS341"){ %>
                  <option selected="selected" value="CS341">CS341</option>
                  <%}else{%>
                  <option value="CS341">CS341</option>
              <%}%>
              <%  if(table_arr[arr[6]]=="B1CS331/B2CS333"){ %>
                  <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
                  <%}else{%>
                  <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%}%>
              <%  if(table_arr[arr[6]]=="B2CS331/B1CS333"){ %>
                  <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
                  <%}else{%>
                  <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%}%>
              <%  if(table_arr[arr[6]]=="Free"){ %>
                  <option selected="selected" value="Free">Free</option>
                  <%}else{%>
                  <option value="Free">Free</option>
              <%}%>
            </select>
          </td>
        </tr>
      </table>
      <input class="ripple but_pos" type="submit" name="changedval" value="SAVE">
    </form>
  </div>
  <div class="main_wrapper">
    <div class="wrapper">
      <div class="box a" >
        <h3>CS301</h3>
        <h6>Bunked : <%=absent_arr[0]%> </h6>
        <h6>Total : <%=summary_arr[0]%> </h6>
        <h1><%=percent_arr[0]%>%</h1>
        <h6>Bunkable : <%=bunk_arr[0]%> </h6>
        <h6>To Attend : <%=attend_arr[0]%> </h6>
      </div>
      <div class="box b">
        <h3>CS303</h3>
        <h6>Bunked : <%=absent_arr[1]%> </h6>
        <h6>Total : <%=summary_arr[1]%> </h6>
        <h1><%=percent_arr[1]%>%</h1>
        <h6>Bunkable : <%=bunk_arr[1]%> </h6>
        <h6>To Attend : <%=attend_arr[1]%> </h6>
      </div>
      <div class="box c">
        <h3>CS305</h3>
        <h6>Bunked : <%=absent_arr[2]%> </h6>
        <h6>Total : <%=summary_arr[2]%> </h6>
        <h1><%=percent_arr[2]%>%</h1>
        <h6>Bunkable : <%=bunk_arr[2]%> </h6>
        <h6>To Attend : <%=attend_arr[2]%> </h6>
      </div>
      <div class="box d">
        <h3>CS307</h3>
        <h6>Bunked : <%=absent_arr[3]%> </h6>
        <h6>Total : <%=summary_arr[3]%> </h6>
        <h1><%=percent_arr[3]%>%</h1>
        <h6>Bunkable : <%=bunk_arr[3]%> </h6>
        <h6>To Attend : <%=attend_arr[3]%> </h6>
      </div>
      <div class="box e">
        <h3>CS309</h3>
        <h6>Bunked : <%=absent_arr[4]%> </h6>
        <h6>Total : <%=summary_arr[4]%> </h6>
        <h1><%=percent_arr[4]%>%</h1>
        <h6>Bunkable : <%=bunk_arr[4]%> </h6>
        <h6>To Attend : <%=attend_arr[4]%> </h6>
      </div>
      <div class="box f">
        <h3>Elective</h3>
        <h6>Bunked : <%=absent_arr[5]%> </h6>
        <h6>Total : <%=summary_arr[5]%> </h6>
        <h1><%=percent_arr[5]%>%</h1>
        <h6>Bunkable : <%=bunk_arr[5]%> </h6>
        <h6>To Attend : <%=attend_arr[5]%> </h6>
      </div>
      <div class="box d" <%=hidebox_1%> >
        <h3>B1 CS331</h3>
        <h6>Bunked : <%=absent_arr[6]%> </h6>
        <h6>Total : <%=summary_arr[6]%> </h6>
        <h1><%=percent_arr[6]%>%</h1>
        <h6>Bunkable : <%=bunk_arr[6]%> </h6>
        <h6>To Attend : <%=attend_arr[6]%> </h6>
      </div>
      <div class="box e" <%=hidebox_1%> >
        <h3>B1 CS333</h3>
        <h6>Bunked : <%=absent_arr[7]%> </h6>
        <h6>Total : <%=summary_arr[7]%> </h6>
        <h1><%=percent_arr[7]%>%</h1>
        <h6>Bunkable : <%=bunk_arr[7]%> </h6>
        <h6>To Attend : <%=attend_arr[7]%> </h6>
      </div>
      <div class="box f">
        <h3>CS341</h3>
        <h6>Bunked : <%=absent_arr[8]%> </h6>
        <h6>Total : <%=summary_arr[8]%> </h6>
        <h1><%=percent_arr[8]%>%</h1>
        <h6>Bunkable : <%=bunk_arr[8]%> </h6>
        <h6>To Attend : <%=attend_arr[8]%> </h6>
      </div>
      <div class="box d" <%=hidebox_2%>>
        <h3>B2 CS331</h3>
        <h6>Bunked : <%=absent_arr[9]%> </h6>
        <h6>Total : <%=summary_arr[9]%> </h6>
        <h1><%=percent_arr[9]%>%</h1>
        <h6>Bunkable : <%=bunk_arr[9]%> </h6>
        <h6>To Attend : <%=attend_arr[9]%> </h6>
      </div>
      <div class="box e" <%=hidebox_2%>>
        <h3>B2 CS333</h3>
        <h6>Bunked : <%=absent_arr[10]%> </h6>
        <h6>Total : <%=summary_arr[10]%> </h6>
        <h1><%=percent_arr[10]%>%</h1>
        <h6>Bunkable : <%=bunk_arr[10]%> </h6>
        <h6>To Attend : <%=attend_arr[10]%> </h6>
      </div>
    </div>
  </div>
</body>

</html>
