<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Time Table</title>
  <script type="text/javascript" src=".jquery-3.4.1.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/bootstrap.css">
  <link rel="stylesheet" href="/timetable_style.css">
  <script type="text/javascript">
    function visibility() {
      var a = document.getElementById("t2");
      a.style.display = 'block'
    }
  </script>
</head>

<body>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><strong>RSMS</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/timetable">Time Table</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/summary">Class Summary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/instructions">Instructions</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/logout">Logout</a>
        </li>

      </ul>
    </div>
  </nav>
  <div class="user_details">
    <h5 class="user_text"> Name : <%= stud_name %></h5>
    <div class="class_r">
      <h5 class="user_text">Class : <%= class_name %></h5>
    </div>
  </div>
  <hr>
  <div class="container">
    <input type="submit" class="ripple" onclick="visibility()" name="edit" value="EDIT">

    <table id="t1" style"width:100%">
      <tr>
        <th>Table</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
      </tr>
      <tr>
        <td>Monday</td>
        <td><%= table["1_1"] %></td>
        <td>
          <%=table["1_2"]%>
        </td>
        <td>
          <%=table["1_3"]%>
        </td>
        <td>
          <%=table["1_4"]%>
        </td>
        <td>
          <%=table["1_5"]%>
        </td>
        <td>
          <%=table["1_6"]%>
        </td>
        <td>
          <%=table["1_7"]%>
        </td>
      </tr>
      <tr>
        <td>Tuesday</td>
        <td><%= table["2_1"] %></td>
        <td>
          <%=table["2_2"]%>
        </td>
        <td>
          <%=table["2_3"]%>
        </td>
        <td>
          <%=table["2_4"]%>
        </td>
        <td>
          <%=table["2_5"]%>
        </td>
        <td>
          <%=table["2_6"]%>
        </td>
        <td>
          <%=table["2_7"]%>
        </td>
      </tr>
      <tr>
        <td>Wednesday</td>
        <td><%= table["3_1"] %></td>
        <td>
          <%=table["3_2"]%>
        </td>
        <td>
          <%=table["3_3"]%>
        </td>
        <td>
          <%=table["3_4"]%>
        </td>
        <td>
          <%=table["3_5"]%>
        </td>
        <td>
          <%=table["3_6"]%>
        </td>
        <td>
          <%=table["3_7"]%>
        </td>
      </tr>
      <tr>
        <td>Thursday</td>
        <td><%= table["4_1"] %></td>
        <td>
          <%=table["4_2"]%>
        </td>
        <td>
          <%=table["4_3"]%>
        </td>
        <td>
          <%=table["4_4"]%>
        </td>
        <td>
          <%=table["4_5"]%>
        </td>
        <td>
          <%=table["4_6"]%>
        </td>
        <td>
          <%=table["4_7"]%>
        </td>
      </tr>
      <tr>
        <td>Friday</td>
        <td><%= table["5_1"] %></td>
        <td>
          <%=table["5_2"]%>
        </td>
        <td>
          <%=table["5_3"]%>
        </td>
        <td>
          <%=table["5_4"]%>
        </td>
        <td>
          <%=table["5_5"]%>
        </td>
        <td>
          <%=table["5_6"]%>
        </td>
        <td>
          <%=table["5_7"]%>
        </td>
      </tr>
    </table>
  </div>

  <div class="sub_details">
    <h5>CS301-Theory of Computation</h5>
    <h5>CS303-System Software</h5>
    <h5>CS305-Microprocessors and Microcontrollers</h5>
    <h5>CS307-DataCommunication</h5>
    <h5>CS309-Graph Theory and Combinatorics</h5>
    <h5>CS341-Design Project </h5>
    <h5>CS331-System Software Lab</h5>
    <h5>CS333-Application Software Development Lab</h5>
    <h5>Electives</h5>
    <h6>CS361-Soft Computing</h6>
    <h6>CS365-Optimization Techniques</h6>
    <h6>CS367-Logic for Computer Science</h6>
    <h6>CS369-Digital System Testing & Testable Design</h6>
  </div>
  <div  id="t2">
    <form action="/timetable" method="post" id="edit_form">
      <table style="width:100%">
        <tr>
          <th>Table</th>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
          <th>6</th>
          <th>7</th>
        </tr>
        <tr>
          <td>Monday</td>
          <td>
            <select name="1_1">
              <%  if(table["1_1"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                <%  if(table["1_1"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["1_1"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["1_1"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["1_1"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["1_1"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["1_1"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["1_1"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["1_1"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["1_1"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
          <td>
            <select name="1_2">
              <%  if(table["1_2"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                  <%  if(table["1_2"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["1_2"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["1_2"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["1_2"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["1_2"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["1_2"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["1_2"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["1_2"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["1_2"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
          <td>
            <select name="1_3">
              <%  if(table["1_3"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                  <%  if(table["1_3"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["1_3"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["1_3"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["1_3"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["1_3"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["1_3"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["1_3"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["1_3"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["1_3"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
          <td>
            <select name="1_4">
              <%  if(table["1_4"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                  <%  if(table["1_4"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["1_4"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["1_4"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["1_4"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["1_4"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["1_4"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["1_4"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["1_4"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["1_4"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
          <td>
            <select name="1_5">
              <%  if(table["1_5"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                  <%  if(table["1_5"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["1_5"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["1_5"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["1_5"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["1_5"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["1_5"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["1_5"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["1_5"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["1_5"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
          <td>
            <select name="1_6">
              <%  if(table["1_6"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                  <%  if(table["1_6"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["1_6"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["1_6"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["1_6"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["1_6"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["1_6"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["1_6"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["1_6"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["1_6"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
          <td>
            <select name="1_7">
              <%  if(table["1_7"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                  <%  if(table["1_7"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["1_7"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["1_7"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["1_7"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["1_7"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["1_7"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["1_7"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["1_7"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["1_7"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
        </tr>
        <tr>
          <td>Tuesday</td>
          <td>
            <select name="2_1">
              <%  if(table["2_1"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                <%  if(table["2_1"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["2_1"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["2_1"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["2_1"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["2_1"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["2_1"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["2_1"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["2_1"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["2_1"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
          <td>
            <select name="2_2">
              <%  if(table["2_2"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                  <%  if(table["2_2"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["2_2"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["2_2"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["2_2"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["2_2"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["2_2"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["2_2"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["2_2"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["2_2"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
          <td>
            <select name="2_3">
              <%  if(table["2_3"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                  <%  if(table["2_3"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["2_3"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["2_3"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["2_3"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["2_3"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["2_3"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["2_3"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["2_3"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["2_3"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
          <td>
            <select name="2_4">
              <%  if(table["2_4"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                  <%  if(table["2_4"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["2_4"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["2_4"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["2_4"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["2_4"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["2_4"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["2_4"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["2_4"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["2_4"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
          <td>
            <select name="2_5">
              <%  if(table["2_5"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                  <%  if(table["2_5"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["2_5"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["2_5"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["2_5"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["2_5"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["2_5"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["2_5"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["2_5"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["2_5"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
          <td>
            <select name="2_6">
              <%  if(table["2_6"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                  <%  if(table["2_6"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["2_6"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["2_6"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["2_6"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["2_6"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["2_6"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["2_6"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["2_6"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["2_6"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
          <td>
            <select name="2_7">
              <%  if(table["2_7"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                  <%  if(table["2_7"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["2_7"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["2_7"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["2_7"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["2_7"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["2_7"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["2_7"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["2_7"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["2_7"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
        </tr>
        <tr>
          <td>Wednesday</td>
          <td>
            <select name="3_1">
              <%  if(table["3_1"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                <%  if(table["3_1"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["3_1"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["3_1"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["3_1"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["3_1"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["3_1"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["3_1"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["3_1"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["3_1"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
          <td>
            <select name="3_2">
              <%  if(table["3_2"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                  <%  if(table["3_2"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["3_2"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["3_2"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["3_2"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["3_2"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["3_2"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["3_2"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["3_2"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["3_2"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
          <td>
            <select name="3_3">
              <%  if(table["3_3"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                  <%  if(table["3_3"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["3_3"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["3_3"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["3_3"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["3_3"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["3_3"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["3_3"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["3_3"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["3_3"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
          <td>
            <select name="3_4">
              <%  if(table["3_4"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                  <%  if(table["3_4"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["3_4"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["3_4"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["3_4"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["3_4"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["3_4"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["3_4"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["3_4"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["3_4"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
          <td>
            <select name="3_5">
              <%  if(table["3_5"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                  <%  if(table["3_5"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["3_5"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["3_5"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["3_5"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["3_5"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["3_5"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["3_5"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["3_5"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["3_5"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
          <td>
            <select name="3_6">
              <%  if(table["3_6"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                  <%  if(table["3_6"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["3_6"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["3_6"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["3_6"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["3_6"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["3_6"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["3_6"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["3_6"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["3_6"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
          <td>
            <select name="3_7">
              <%  if(table["3_7"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                  <%  if(table["3_7"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["3_7"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["3_7"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["3_7"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["3_7"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["3_7"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["3_7"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["3_7"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["3_7"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
        </tr>
        <tr>
          <td>Thursday</td>
          <td>
            <select name="4_1">
              <%  if(table["4_1"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                <%  if(table["4_1"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["4_1"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["4_1"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["4_1"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["4_1"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["4_1"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["4_1"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["4_1"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["4_1"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
          <td>
            <select name="4_2">
              <%  if(table["4_2"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                  <%  if(table["4_2"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["4_2"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["4_2"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["4_2"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["4_2"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["4_2"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["4_2"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["4_2"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["4_2"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
          <td>
            <select name="4_3">
              <%  if(table["4_3"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                  <%  if(table["4_3"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["4_3"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["4_3"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["4_3"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["4_3"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["4_3"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["4_3"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["4_3"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["4_3"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
          <td>
            <select name="4_4">
              <%  if(table["4_4"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                  <%  if(table["4_4"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["4_4"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["4_4"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["4_4"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["4_4"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["4_4"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["4_4"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["4_4"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["4_4"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
          <td>
            <select name="4_5">
              <%  if(table["4_5"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                  <%  if(table["4_5"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["4_5"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["4_5"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["4_5"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["4_5"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["4_5"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["4_5"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["4_5"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["4_5"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
          <td>
            <select name="4_6">
              <%  if(table["4_6"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                  <%  if(table["4_6"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["4_6"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["4_6"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["4_6"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["4_6"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["4_6"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["4_6"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["4_6"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["4_6"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
          <td>
            <select name="4_7">
              <%  if(table["4_7"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                  <%  if(table["4_7"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["4_7"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["4_7"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["4_7"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["4_7"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["4_7"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["4_7"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["4_7"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["4_7"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
        </tr>
        <tr>
          <td>Friday</td>
          <td>
            <select name="5_1">
              <%  if(table["5_1"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                <%  if(table["5_1"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["5_1"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["5_1"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["5_1"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["5_1"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["5_1"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["5_1"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["5_1"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["5_1"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
          <td>
            <select name="5_2">
              <%  if(table["5_2"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                  <%  if(table["5_2"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["5_2"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["5_2"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["5_2"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["5_2"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["5_2"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["5_2"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["5_2"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["5_2"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
          <td>
            <select name="5_3">
              <%  if(table["5_3"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                  <%  if(table["5_3"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["5_3"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["5_3"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["5_3"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["5_3"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["5_3"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["5_3"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["5_3"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["5_3"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
          <td>
            <select name="5_4">
              <%  if(table["5_4"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                  <%  if(table["5_4"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["5_4"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["5_4"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["5_4"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["5_4"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["5_4"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["5_4"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["5_4"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["5_4"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
          <td>
            <select name="5_5">
              <%  if(table["5_5"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                  <%  if(table["5_5"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["5_5"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["5_5"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["5_5"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["5_5"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["5_5"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["5_5"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["5_5"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["5_5"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
          <td>
            <select name="5_6">
              <%  if(table["5_6"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                  <%  if(table["5_6"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["5_6"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["5_6"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["5_6"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["5_6"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["5_6"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["5_6"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["5_6"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["5_6"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
          <td>
            <select name="5_7">
              <%  if(table["5_7"]=="CS301"){ %>
              <option selected="selected" value="CS301">CS301</option>
              <%}else{%>
              <option value="CS301">CS301</option>
              <%}%>
                  <%  if(table["5_7"]=="CS303"){%>
              <option selected="selected" value="CS303">CS303</option>
              <%  }else{%>
              <option value="CS303">CS303</option>
              <%  }%>
              <%  if(table["5_7"]=="CS305"){%>
              <option selected="selected" value="CS305">CS305</option>
              <%  }else{%>
              <option value="CS305">CS305</option>
              <%  }%>
              <%  if(table["5_7"]=="CS307"){%>
              <option selected="selected" value="CS307">CS307</option>
              <%  }else{%>
              <option value="CS307">CS307</option>
              <%  }%>
              <%  if(table["5_7"]=="CS309"){%>
              <option selected="selected" value="CS309">CS309</option>
              <%  }else{%>
              <option value="CS309">CS309</option>
              <%  }%>
              <%  if(table["5_7"]=="Elective"){%>
              <option selected="selected" value="Elective">Elective</option>
              <%  }else{%>
              <option value="Elective">Elective</option>
              <%  }%>
              <%  if(table["5_7"]=="CS341"){%>
              <option selected="selected" value="CS341">CS341</option>
              <%  }else{%>
              <option value="CS341">CS341</option>
              <%  }%>
              <%  if(table["5_7"]=="B1CS331/B2CS333"){%>
              <option selected="selected" value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }else{%>
              <option value="B1CS331/B2CS333">B1CS331/B2CS333</option>
              <%  }%>
              <%  if(table["5_7"]=="B2CS331/B1CS333"){%>
              <option selected="selected" value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }else{%>
              <option value="B2CS331/B1CS333">B2CS331/B1CS333</option>
              <%  }%>
              <%  if(table["5_7"]=="Free"){%>
              <option selected="selected" value="Free">Free</option>
              <%  }else{%>
              <option value="Free">Free</option>
              <%  }%>
            </select>
          </td>
        </tr>
      </table>
      <input type="submit" class="ripple gap" value="SAVE">
    </form>
  </div>
</body>

</html>
